
<ion-content class="ion-text-center" scroll-y="false">
    <div class="splash-bg">
      <img class="splash-logo" src="assets/img/teste.png">                
    </div>    
            
    <ion-grid class="teste">
      <ion-row class="rowForm">  
          <ion-button expand="full" class="register" (click)="register()">Criar Nova Conta</ion-button>   
      </ion-row>

      <ion-row class="rowForm">        
          <ion-button expand="full" class="login" fill="clear" (click)="login()">Entrar</ion-button>       
      </ion-row>
    </ion-grid>        

</ion-content>

<ion-footer class="ion-padding">  
  
  <div class="divfooter">
    <ion-label class="texto"><i>Compartilhe livros. Inspire novos momentos.</i></ion-label>
  </div>

</ion-footer>
