.sc-ion-searchbar-md-h {
    /* padding-left: unset; */
    /* padding-right: initial; */
    -webkit-padding-start: 8px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

