.list-form {

    margin-bottom: 0;
    text-align: center;
    
}

.rowForm{
    flex-direction: column;
  }

  .itens{
    margin-top: 10px;
  }

  ion-col > ion-item {      
   // padding: 10px;
    flex-direction: inherit;
  }

  .titulo{
    font-weight: bold;
  }


  .item-has-focus.label-floating.sc-ion-label-md-h, 
  .item-has-focus .label-floating-sc-ion-label-md-h, 
  .item-has-focus.label-stacked.sc-ion-label-md-h, 
  .item-has-focus .label-stacked.sc-ion-label-md-h{
      color: black !important;
  }



  .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2{
  text-align: center;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.lazybones{background-image:url('../../assets/img/avatar/avatar_lazybones_64.png');}
.girl{background-image:url('../../assets/img/avatar/avatar_girl_64.png');}
.male{background-image:url('../../assets/img/avatar/avatar_male_64.png');}
.batman{background-image:url('../../assets/img/avatar/avatar_batman_64.png');}
.zombie{background-image:url('../../assets/img/avatar/avatar_zombie_64.png');}
.coffe{background-image:url('../../assets/img/avatar/avatar_coffe_64.png');}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }